# Enable PSRAM
CONFIG_ESP32_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_TYPE_AUTO=y

# Increase Camera Task Stack if needed (Optional, usually defaults are fine)
CONFIG_FREERTOS_HZ=100

# Partition Table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Flash Size (ESP32-CAM usually has 4MB, sometimes 8MB. Defaulting to 4MB)
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# HTTP Server Configuration
CONFIG_HTTPD_MAX_URI_HANDLERS=16

# SD Card / FATFS Configuration (Long Filenames Support)
# Required for .mjpeg extensions and long record names
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_MAX_LFN=255
